@media screen and (max-width:700px) {
    .grid-container{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .single-product img, p{
        width: 100%;
        margin-bottom: 10px;
     }
    
}
@media screen and (max-width:572px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-item-container{
        flex-direction: column;
    }

.logo-container img{
    margin-left: 30px;
}
.logo-container p{
    margin-right: 50px;
}
    .nav-items-container{
        flex-direction: column;
    }
    .nav-item-container .follow-btn{
        width: 100%;
        margin-bottom: 10px;
    }
    /*nav responsive ends here*/
    .banner-container{
        flex-direction: column;
    }
    .banner-text, .banner-img{
        width: 100%;
        margin-bottom: 10px;
    }
    .banner-img{
        margin-bottom: 10px;
    }
    /*gamer responsive starts here*/
    .discount-container{
        flex-direction: column;
    }
 
    .discount-text,.discount-img{
        width: 100%;
    }
    /*banner responsive ends here*/
    .grid-container{
        grid-template-columns: 1fr;
    }
    .single-product img, p{
        width: 80%;
        margin-bottom: 10px;
        text-align: center;
     }
     /*Play section part*/
     .play-ins-container{
        width: 500px;
        margin-top: 20px;
        margin-left: 0px;
      }
      .play-ins-wp{
        padding-bottom: 30px;
        margin-top: 0px;
        width: 200px;
        margin-left: 100px;
        justify-content: center;
      }
     .play-ins-container{
        flex-direction: column;
     }
     .play-img{
        width: 350px;
        margin-left: 100px;
     }

     /*last main part*/
     .career-container{
        flex-direction: column;
     }
     .text-container{
        width: 100%;
     }
     .img-container, .img-container img{
        width: 100%;
     }
     
    /*icon part*/
     .icon-container{
        justify-content: space-around;
        gap: 0;
    }
    .icon-container{
        width: 100%;
    }
    .icon img{
        width: 30px;
    }
    .icon{
        padding: 0px;
        margin: 0px;
    }
    .icon p{
        font-size: 6px;
        margin: 0px;
    }
    /*footer*/
    .footer{
        height: 650px;
      }
      .footer-services{
        grid-template-columns: repeat(3, 1fr);
      }
      .footer-term{
        grid-template-columns: repeat(2, 1fr);
      }
      .footer-icons{
        grid-template-columns: repeat(3, 1fr);
      }
      .footer-copy{
        margin: 0 auto;
      }
}